[Unit]
Description=Tägliche Bereinigung des ungenutzten Docker-Build-Caches

[Timer]
OnCalendar=hourly
RandomizedDelaySec=5m
Persistent=true
Unit=werft-docker-cache-prune.service

[Install]
WantedBy=timers.target
