[Unit]
Description=Begrenzt ungenutzten Docker-Build-Cache

[Service]
Type=oneshot
ExecStart=/usr/bin/docker builder prune --force --max-used-space=2GB --reserved-space=1GB
